**/.DS_Store

**/*.pt
**/*.pth
**/*.pth.tar

**/__pycache__/
data

.vscode/

flagged

!pretrained_ckpts/auxiliray/model.pth

start.sh
running_exp/*
example/*
tmp_frames/*
running_exp_first/*
running_exp_FFHQ/*
env/*
running_exp_FFHQ_check/*
running_exp_celeba_diffusion/*

